.address {
  background: url('/img/header_bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  padding: 4rem 5%;
  position: relative;
  z-index: 1;

  &::before {
    @include pseudo(100%, 100%);
    background: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    z-index: -1;
  }

  &__list {
    list-style: none;
    padding: 0;
  }
  &__link {
    cursor: pointer;
    border-bottom: 1px dashed $color_text_white;
    text-decoration: none;
    z-index: 100;
    color: white;
    line-height: 1.5rem;

    &:hover {
      transition: .5s;
      color: $color_btn_hover;
      border-bottom: 1px dashed $color_btn_hover;
    }
  }
}