.box-animation {
  width: 100%;
  min-height: 50rem;
  position: relative;
  margin: auto;


  @keyframes toTop {
    from {
      opacity: 5;
      top:3rem;
    }
    to {
      opacity: 1;
      top: 0rem;
    }
  }
  &__inner {
    position: absolute;
    width: 100%;
    height:100%;
    top: 3rem;
    opacity: .5;
  }
  &__start {
    animation: 1s toTop ease-out;
    animation-fill-mode: forwards;
  }
}