extends ../../_template

block variables
    - var title = 'birthday'
    - var subtitle = 'birthday'
block content
    include ../../blocks/header
    main
        include ../../blocks/flavour
        include ../../blocks/why_we
        include ../../blocks/order
    include ../../blocks/footer