.auth
    .auth__exit +
    p.auth__title Введите пароль для входа в панель управления
    input.auth__input(type='password' placeholder='Пароль')
    button.auth__btn.btn(type="button" value="Войти") Войти