section.brief
    .brief__main
        ul.brief__list
            li.brief__item
                p.title ДОСТАВКА ЦВЕТОВ НА ДОМ ИЛИ ОФИС
                p.text Наша сеть магазинов осуществляет дотавку цветов по Саранску с 9 утра до 5 вечера при заказе от 2000 руб. бесплатно. Условия и время оговариваются при заказе букета.
            li.brief__item
                p.title СПОСОБЫ ОПЛАТЫ
                p.text Наличный расчет и расчет с помощью банковских карт платежных систем Visa, MasterCard, Мир
            li.brief__item
                p.title ПРЕДВАРИТЕЛЬНЫЙ ЗАКАЗ
                p.text Вы можете заранее заказать букет к определенному дню или времени.
    .brief__title
        .brief__rotate
            h1.text-white.title ЦВЕТЫ
                span.text-red 24 часа