section.company
    ul.company__list
        li.company__item#partners
            h2.title Партнеская программа
            p.text.
                Наша сеть магазинов активно развивается и ищет надежных партнеров для дальнейшего
                развития. Сейчас мы ищем людей, кто мог бы предложить нам помещения под наши салоны.
                Основные требования к помещению:
            ul
                li максимальная площадь зала до 50 кв.м.(это важно!),
                li возможность круглосуточного режима работы,
                li возможность размещения вывески (светового короба),
                li первый этаж,
                li наличие воды и света.

            p.text Желательно:
            ul
                li первая линия размещения на главных улицах,
                li наличие стоянки,
                li отдельный вход.

            p.text.
                Со своей стороны мы гарантируем своевременную оплату арендной платы и коммунальных платежей,
                бережное отношение к Вашему имуществу и долгосрочную аренду.
                Если вы заинтересовались, то свяжитесь с нами: +7 (834) 222-49-53.
        li.company__item#vacansy
            h2.title Вакансии
            p.text.
                В связи с открытием новых магазинов мы ищем сотрудников, готовых работать в нашем отличном коллективе:
                Основные требования к соискателю:
            ul
                li возраст от 18 лет,
                li готовность работать по гибкому графику и ночную смену,
                li готовность работать с цветами,
                li коммуникативность и желание работать с людьми,
                li гражданство РФ.

            p.text.
                Опыт работы не требуется, обучение проходит в магазине с оплатой за выполненную работу.
                Звоните с 9:00 до 20:00 по тел: +7 (927) 178-80-91.
        li.company__item#offer
            h2.title Оферта
            p.text.
                Обращаем Ваше внимание на то, что данный сайт носит исключительно информационный характер и
                не является публичной офертой, определенной положениями Статьи 437 Гражданского кодекса Российской Федерации.
                Для получения подробной информации, пожалуйста обращайтесь к менеджерам по продажам.
                Мы не гарантируем наличие представленного товара, а его внешний вид может отличаться от фотографий,
                представленных здесь. Точное описание и внешний вид можно узнать в магазине при заказе товара.
        li.company__item#payment
            h2.title Способы оплаты
            p.text.
                Мы принимаем к оплате наличные, карты таких платежных систем, как Visa, MasterCard, Мир. Примите во внимание, что
                ограничения на приём карт, могут быть установлены как со стороны экваринговой организации с
                которой мы сотрудничаем, так и со стороны банка-эмитента вашей карты.
                В связи с чем, просим с пониманием отнестись, если ваша карта не сможет быть принята продавцом для оплаты товара.
        li.company__item#return
            h2.title Правила замены товара
            p.text.
                Обращаем ваше внимание, что цветы или растения в горшке не подлежат возврату или обмену
                в соответствии с Законом Российской Федерации «О защите прав потребителей» от 07.02.1992
                № 2300–1 (в ред. от 25.10.2007 г.) и Постановлением Правительства Российской Федерации от
                19.01.1998 № 55 (в ред. 27.03.2007 г.).

                Мы внимательно относимся к мнению клиентов, внимательно осмотрите качество при покупке, если есть
                малейшие сомнения - просите заменить цветок у наших продавцов. В случае возникновения споров, напишите нам в форме
                обратной связи во вкладке "О нас" на главной странице и мы обязательно ответим.