section.company-links
    .company-links__left
        ul.company-links__list
            li.company-links__item
                a(href="/company#partners").company-links__link.text Партнерство
            li.company-links__item
                a(href="/company#vacansy").company-links__link.text Вакансии
            li.company-links__item
                a(href="https://vk.com/zvetysaranska").company-links__link.text Мы в Вконтакте
            li.company-links__item
                a(href="https://www.instagram.com/zvety_saranska/").company-links__link.text Мы в Instagram
    .company-links__right
        ul.company-links__list
            li.company-links__item
                a(href="/company#offer").company-links__link.text Оферта
            li.company-links__item
                a(href="/company#payment").company-links__link.text Способы оплаты
            li.company-links__item
                a(href="/company#return").company-links__link.text Правила замены товара