.contacts
    ul.contacts__list
        .contacts__item
            p.text-white Республика Мордовия, г. Саранск,
            p.text-white ул. Рабочая, 189 (фактический адрес)
        .contacts__item
            a(href="tel:+79272763963").text.text-white +7(927) 276-39-63
            a(href="tel:+78342222222").text.text-white +7(834) 222-22-22
        .contacts__item
            a.text.text-white(href="mailto:ipkaeva@gmail.com")
            a.text.text-white(href="цветымордовии.рф") Цветымордовии.рф
        .contacts__item
            p.text.text-white ПН, СР-СБ
            p.text.text-white 9:00 - 16:00
    form.contacts__form
        p.subtitle.text-white Напишите нам
        input.contacts__input.contacts__name(placeholder="Ваше имя")
        input.contacts__input.contacts__mail(placeholder="Ваша почта")
        textarea.contacts__text(placeholder="Введите ваше сообщение")
        input.btn.contacts__send(type="button" value="Отправить")
//-.map#map(attr-loc-x=54.203959 attr-loc-y=45.192829)