footer.footer
    .footer__top
        .footer__map
            ul.footer__list
                li.footer__item
                    a(href="#").footer__link Главная
                li.footer__item
                    a(href="#").footer__link Букеты
                li.footer__item
                    a(href="#").footer__link Магазины
                li.footer__item
                    a(href="#").footer__link О нас
        a(href="/admin").footer__key
    .footer__bottom
        span ИП Ивченко Эльвира Анатольевна | Все материалы данного сайта защищена авторским правом, публикация разрешается с обязательной ссылкой на данный ресурс