.opt
    p.subtitle Оптовые поставки:
    p.text Республика Мордовия, г. Саранск, ул. Рабочая, 189
    a(href="#").btn.opt__link Посмотреть на карте
    .opt__map.hidden#optMap( data-loc-x='54.203982' data-loc-y='45.192838')