-
    var titleContent = {
    'roses': ['розы', 'Розы - королевский цветок, который с древних времен считается одним из лучших подарков.'],
    'chrysantema': ['хризантемы', 'Хризантемы - цветы, которые никогда не надоедают, имеют свое очарование, которе притягивает к себе внимание, они отлично могут быть как самостоятельный подарок так и отлично сочетаются в букете с другими цветами'],
    'tulpan': ['тюльпаны', 'Тюльпаны - это цветы нежности и привязанности. Теплые оттенки тюльпанов смягчат любое серце, а их внешняя хрупкость дополняет чувство невинности и изящества цветка. '],
    'gorshki':['горшечные цветы', ''],
    'other':['цветы', '']
    }
-
    var titles =
    [
    'roses',
    'chrysantema',
    'tulpan',
    'gorshki',
    'other'
    ]

section.order
    for item in titles
        -if(subtitle == item)
            h2.subtitle
                span Закажите и купите #{titleContent[item][0]} в Саранске и Рузавке
            p.text.
                #{titleContent[item][1]}
            p.text.
                Заказ цветов в наших магазинах – это хороший выбор.
                Профессиональные флористы нашей компании соберут букет
                любой сложности и ценовой категории или подберут отличный гошечный цветок.
                В нашем каталоге представлена лишь малая часть того, что могут
                наши прекрасные флористы. Мы вам всегда рады!
            p.text.
                В магазинах всегда можно купить готовый букет или собрать именно то,
                что нужно вам. Свежие цветы от лучших мировых и российский производителей,
                мастерство продавцов - залог отличного букета и прекрасного настроения.
                Мы знаем чем порадовать прекрасную половину человечества и всегда стремимся
                только улучшать качество обслуживания.
            p.text.
                В наличии букеты из роз, хризантем, гербер, ирисов, лилий, тюльпанов, альстромерий, лизиантусов.
                Заказ букетов в Саранске по телефону:
            a.order__link(href="tel:+79297473972") 8-929-747-39-72.



