.quadro
    ul.quadro__list
        li.quadro__item
            h2.subtitle.quadro__text Лучший подарок близким
            p.text.quadro__text.
                Каждая цветочная композиция - это тот букет чувств,
                которые вы хотите показать человеку, поэтому доверяйте
                себе, выбирайте букет, которые нравяться.
            a.btn.quadro__text(href="/flavour") Посмотреть
        li.quadro__item(style="background-image: url('/img/roses.png')")
        li.quadro__item(style="background-image: url('/img/roses.png')")
        li.quadro__item
            h2.subtitle.quadro__text Лучший подарок близким
            p.text.quadro__text.
                Каждая цветочная композиция - это тот букет чувств,
                которые вы хотите показать человеку, поэтому доверяйте
                себе, выбирайте букет, которые нравяться.
            a.btn.quadro__text(href="/flowers") Посмотреть