.quadro
    ul.quadro__list
        li.quadro__item
            h2.subtitle.quadro__text Лучший подарок близким
            p.text.quadro__text.
                Каждая цветочная композиция - это тот букет чувств,
                которые вы хотите показать человеку, поэтому доверяйте
                себе, выбирайте букет, которые нравяться.
            button.btn.quadro__text(type="button" data-tab="bouquet")#quadro__flavours Посмотреть
        li.quadro__item(style="background-image: url('/img/prasdnik.jpeg')")
        li.quadro__item(style="background-image: url('/img/roses.png')")
        li.quadro__item
            h2.subtitle.quadro__text Качество превыше всего!
            p.text.quadro__text.
                Мы работаем только с проверенными поставщиками,
                проводим контроль качества товара с момента получения
                и до продажи.
            a.btn.quadro__text(href="#about" data-tab="flowers")#quadro__flowers Посмотреть