section.slider.slider--hidden
    .slider__wrap
        .left
        .right
        ul.slider__list
            //--for (var i in flowers[0].list)
            //-    li.slider__item
            //-        .slider__img(style="background-image: url('" + flowers[0].list[i][0] + "')")
