.target__shop
    .shop__close +
    h2.shop__title.text-white
    .shop__wrap
        img(src="" alt="").shop__img
        .shop__content
            p.shop__address.text.text-white Мы находимся:
                span.bold
            a(href="").text.text-white.shop__phone Наш телефон:
                span.bold
            p.shop__time.text.text-white Режим работы:
                span.bold
            p.shop__desc.text.text-white
            .map#map(data-loc-x="" data-loc-y="").shop__map