.target__shop
    .shop__close +
    h2.shop__title.text-white
    .shop__wrap
        img(src="" alt="").shop__img
        .shop__content
            p.shop__address.text Мы находимся:
                span.bold
            a(href="").text.shop__phone Наш телефон:
                span.bold
            p.shop__time.text Режим работы:
                span.bold
            p.shop__desc.text
            .map#map(data-loc-x="" data-loc-y="").shop__map