section.about#about
    h2.subtitle Немного о нас
    p.text.
        Начиная, свою деятельность в 2001 году, главной своей
        задачей мы ставили - качество товара и качество обслуживания.
        Мы горды тем, что в любые времена, мы эти задачи выполняли.
        Сейчас мы уже сеть цветочных салонов в Мордовии с большим
        сложившимся коллективом, с надежными и проверенными поставщиками.
        Что дает нам право говорить о серьезном контроле качества цветов
        и высоком уровне обслуживания.
    p.text.
        Вторая наша цель была - сделать красоту цветов доступной любому.
        Природная прелесть цветов в соеденении с талантом наших
        флористов, помноженная на любовь к цветам - залог вашего отличного
        настроения, радости тех, кому дарят цветы и частичку тепла в этот мир.
    p.text.
        В своих букетах наши флористы сочетают простоту, вкус и гармонию.
        Ваши пожелания только дополняют каждый букет и дают возможность вам
        стать немного художником и выразить свои эмоции в композиции.
    p.text.
        В ассортименте наших магазинов есть розы, тюльпаны,
        хризантемы, герберы, ирисы, фрезия, клематисы и многие другие.
        Мы дополняем букеты цветов сочной и разнообразной зеленью:
        папоротником, салалом, эвкалиптом, рускусом и другими отличными
        сортами растений.
    p.text.
        Мы гордимся своей продукцией и рады, что на протяжении стольких лет дарим
        эмоции и хорошее настроение вам.