.section.why-we
    .title Почему выбрать именно наш магазин?
    ul.why-we__list
        li.why-we__item.
            Шаговая доступность наших магазинов
        li.why-we__item.
            Завоз свежих цветов каждую неделю
        li.why-we__item.
            Контроль качества цветка на всех стадиях
        li.why-we__item.
            Более 15 лет опыта работы