extends ../_template

block variables
    - var title = 'Index'
block content
    include ../blocks/header
    main
        section(data-title="flowers").flowers.tab.tab--active
            include ../blocks/quadro
            include ../blocks/catalog
            include ../blocks/why_we
            include ../blocks/brief
        section(data-title="bouquet").bouquet.tab
            include ../blocks/bouquet
            include ../blocks/order
            include ../blocks/why_we
            include ../blocks/more_question
        section(data-title="shops").shops.tab
            include ../blocks/shops
            include ../blocks/opt
        section(data-title="about").about.tab
            include ../blocks/about
            include ../blocks/contacts
            include ../blocks/company-links
    include ../blocks/slider
    include ../blocks/up
    include ../blocks/footer