extends ../../_template

block variables
    - var title = 'Flowers'
    - var subtitle = 'chrysantema'
block content
    include ../../blocks/header
    main
        include ../../blocks/flowers
        include ../../blocks/why_we
        include ../../blocks/order
    include ../../blocks/footer